.footer {
    background-color: rgba(200, 170,140,.25);
    color: #ffbfbf;
    padding: 20px 0;
    margin-top: 50px;
    /* Ajusta este valor según sea necesario para el espacio deseado */
    text-align: center;
}

.footer .list-inline-item {
    margin-right: 15px;
    /* Ajusta el espacio entre los íconos */
}

.footer .fa-stack {
    color: #000000;
    /* Cambia el color de los íconos */
}

.card-text {
    text-align: justify;
}

.navbar-brand img {
    width: 25px;
    height: 25px;
}

#mainNav {
    
    font-size: 14px;
    padding: 10px;
}

.post-preview {
    text-align: justify;
}

.Introductorio{
    text-align: justify;
}

.Desarrollo{
    text-align: justify;
}
